bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
*.DotSettings*
.idea/
.vs/
*.csproj.user
# public api recieved files
tests/**/*.received.txt
tests/**/*.approved.txt.bak
# Log report file
.trx